<section class="inner" id="proyectos">
    <h2 class="header navlett">Proyectos</h2>
    <div class="container-pro" style="margin: 0 auto !important;">
  
        <div class="card-pro">
            <div class="face face1">
                <div class="content-pro">
                    <img src="../../../assets/comingsoon.png">
                </div>
            </div>
            <div class="face face2">
                <div class="content-pro">
                    <h3>Proximamente</h3>
                </div>
            </div>
        </div>
        <div class="card-pro">
            <div class="face face1">
                <div class="content-pro">
                    <img src="../../../assets/Pagina.png">
                </div>
            </div>
            <div class="face face2">
                <div class="content-pro">
                    <h3>Portfolio</h3>
                    <p>Página realizada como trabajo final del curso #ArgentinaPrograma 3.0.</p>
                </div>
            </div>
        </div>
        <div class="card-pro">
            <div class="face face1">
                <div class="content-pro">
                    <img src="../../../assets/comingsoon.png">
                </div>
            </div>
            <div class="face face2">
                <div class="content-pro">
                    <h3>Proximamente</h3>
                </div>
            </div>
        </div>
  
    </div>
  
</section>
  