
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navlett navlett-size fixed-top">
    <div class="container-fluid">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="../../../assets/Argentina programa logo.png"></a>
        <button class="navbar-toggler bc-w" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><svg id="menucolor"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M32 288c-17.7 0-32 14.3-32 32s14.3 32 32 32l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 288zm0-128c-17.7 0-32 14.3-32 32s14.3 32 32 32l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L32 160z"/></svg></span>
        </button>
        <div class="navlc collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active navlc underline" aria-current="page" href="#home">|Inicio|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlc underline" href="#sobremi">|Sobre mí|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlc underline" href="#formacion">|Formación|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlc underline" href="#proyectos">|Proyectos|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navlc underline" href="#tecnologias">|Mis Habilidades|</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navlc" href="#" role="button" data-toggle="dropdown" aria-expanded="false">|Contacto|</a>
                    <ul class="dropdown-menu" role="menu" style="text-align: center;">
                        <li><a class="dropdown-item" href="https://twitter.com/FelipeGoNz2" target="_blank">Twitter</a></li>
                        <li><a class="dropdown-item" href="https://github.com/nfelipao" target="_blank">Github</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="mailto:nfelipe.gonzalez.96@gmail.com">Mail</a></li>
                    </ul>
                </li>
            </ul>
            <a class="navbar-brand navlc machinew" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">#Argentina Programa<span class="cursor">|</span></a>
            <div class="login-container">
                <form>
                    <button type="submit" class="btn btn-light">Login</button>
                </form>
            </div>
        </div>
            
    </div>
</nav>


