<section class="card-pre navlett" id="sobremi">
    <div>
        <img class="profile-img" src="../../../assets/profile-pic.png" alt="profile-pic" width="250" height="250">
        <ul class="social-list mt-3">
            <li class="social-item"><a aria-label="Twitter" class="social-link" href="https://twitter.com/FelipeGoNz2" target="_blank"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li class="social-item"><a aria-label="Mail" class="social-link" href="mailto:nfelipe.gonzalez.96@gmail.com"><fa-icon [icon]="faMailBulk" class="mailcol"></fa-icon></a></li>
            <li class="social-item"><a aria-label="Github" class="social-link" href="https://github.com/nfelipao" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
        </ul>
    </div>
  
    <div class="profile-main">
        <h2 class="profile-name">Sobre mí.</h2>
        <div class="profile-position">Full Stack Developer Jr </div>
        <p class="profile-body">Formado principalmente en #Argentina Programa un programa nacional de Argenina que tiene como objetivo capacitar a personas en lenguajes y conocimientos sobre programacion, testing y habilidades digitales.</p>
        <div class="profile-position mt-3"> <div class="profile-position"><fa-icon [icon]="faLocationDot"></fa-icon>  Canals, Córdoba, Argentina</div></div>   
    </div>
</section>